{% extends 'main/layout.html' %}

{% block content %}
    <div class="content_box">
        <h4>{{ post.title }}</h4>
        <p>{{ post.text|linebreaks }}</p>
        <div style="display: flex; gap: 50px; margin: auto; width: 30vw;">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="delete" value="{{ post.slug }}">
                <input type="submit" value="Удалить статью" style="border: none; background: none; text-decoration: underline; color: brown">
            </form>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="edit" value="{{ post.slug }}">
                <input type="submit" value="Обновить статью" style="border: none; background: none; text-decoration: underline; color: darkgreen;">
            </form>
            <a href="{{ post.name }}">Ссылка на оригинал</a>
        </div>
    </div>
{% endblock %}
